body, html {
    height: 100%;
    background-color: #789bd3;
}

h1 {
    display: flex;
    font-size: 6vmin;
    margin: 0;
    justify-content: center;
}

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.grid {
    float: left;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    height: 30px;

}
.btn {
    margin: 0 10px 0 0;
    
    box-shadow: 2px 2px 0 #666;
}
.slider {
    display: flex;
    justify-content: center;
    margin: 10px;    
}
.hide {
    visibility: hidden;
}
#colorPicker {
    border: none;
    padding: 0;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
}

  a {
    text-decoration:none;
    color:#FFF;
  }
  .rainbow-button {
    width:30px;
    height:30px;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border: none;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    color: black;
  }
  .rainbow-button:after {
    content:attr(alt);
    width:30px;
    height:30px;
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button:hover {
    animation:slidebg 8s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }